{% extends "news/layouts.html" %}

{% block title %}
    News
{% endblock title %}

{% block content %}
    <h1>Home page</h1>
    <div class="col-6 col-md-3 col-lg-6 col-xl-3">
        <a class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)">
            <div class="block-content block-content-full">
                <div class="font-size-sm font-w600 text-uppercase text-muted">News</div>
                <div class="font-size-h2 font-w400 text-dark">{{ news_count }}</div>
            </div>
        </a>
    </div>
{% endblock content %}